@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";

body {
    font-family: "Baloo 2", sans-serif;
    color: black;
}

.techyFont {
    font-family: "Cutive Mono", sans-serif;
}

.floatDiv {
    box-shadow:
        8px 8px 15px #bebebe
}

/* Tools & Tech */
@layer utilities {
    @keyframes bounce-custom {

        0%,
        100% {
            transform: translateY(-5px);
        }

        50% {
            transform: translateY(5px);
        }
    }

    .animate-bouncy {
        animation: bounce-custom 2s ease-in-out infinite;
    }
}